@model List<TestimonialResultDto>

@if (Model.Count() > 0)
{
    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">DENEYİMLEYENLER</p>
                <h1 class="mb-5">İnsanlar Süt Çiftliğimiz Hakkında Ne Diyor?</h1>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-img">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <img class="img-fluid animated pulse infinite" src="@Model[i].TestimonialImage" alt="">
                        }
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div class="testimonial-item">
                                <img class="img-fluid mb-3" src="@Model[i].TestimonialImage" alt="">
                                <p class="fs-5">@Model[i].TestimonialComment</p>
                                <h5>@Model[i].TestimonialFullname</h5>
                                <span class="text-primary">@Model[i].TestimonialDepartment</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
}